[include]
	path = ~/.gitconfig.local

[includeIf "gitdir:~/ghq/github.com/kattsun44/"]
	path = ~/.gitconfig_sub

[alias]
	st = status
	b = branch
	co = checkout
	cm = commit -m
	a  = add
	aa = add -A
	ps = push origin
	pl = pull origin
	
[http]
	postBuffer = 524288000
[credential]
	helper = osxkeychain
[core]
	quotepath = false
[push]
	default = current
